<template>
    <div>
        <div class="inner-addon right-addon">
            <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
            <input type="text" class="form-control" v-model="value[datakey].value" :placeholder="value[datakey].placeholder"  @input="editedData()" />
        </div>
    </div>
</template>

<script>
    export default {
        name: "datepicker-form",
        props: {
            datakey: {type: String, required: false},
            value: {type: Object, required: false}
        },
        mounted(){
            let app = this;
            $('input', this.$el).datepicker({
                onSelect: function(dateText) {
                    app.updateData(dateText);
                }
            });
        },
        methods:{
            updateData(data){
                let self = this;
                self.value[self.datakey].value = data;
                this.$emit('input', self.value);
            },
            editedData(o){
                this.updateData(this.value);
            }
        }
    }
</script>

<style scoped>
    /* enable absolute positioning */
    .inner-addon {
        position: relative;
    }


    /* style icon */
    .inner-addon i {
        position: absolute;
        padding: 10px;
    }

    /* align icon */
    .left-addon .glyphicon, .left-addon i  { left:  0px;}
    .right-addon .glyphicon, .right-addon i { right: 0px;}

    /* add padding  */
    .left-addon input  { padding-left:  30px; }
    .right-addon input { padding-right: 30px; }

    input::placeholder {
        color: rgba(0,0,0,0.3);
    }
</style>