<template>
    <div class="form-container">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "form-container",
        props: [ 'value'],
        mounted: function(){
            let self = this;
            this.$on('RESTORE_FORM',function () {
                self.restore();
            });
        },
        methods: {
            restore: function () {
                let self = this;
                this.$children.forEach(function (c) {
                    self.value[c.datakey].value = self.value[c.datakey].original;
                });

                self.$emit('value', temp);
            }
        }
    }
</script>

<style scoped>

</style>