<template>
    <div>
        <label class="control-label" >{{ label }}<span v-if="required === 'true'" class="text-danger">*</span>
            <a href="#" data-tooltip="true" data-container="body" data-placement="right" v-if="error.length > 0" :title="error">
                <i class="fa fa-exclamation-circle text-danger">
                </i></a>
        </label>
        <!-- <div class="inner-addon right-addon">-->
            <slot :datakey="datakey" :required="required">
                <input type="text"  />
            </slot>
        <!-- </div>-->

    </div>
</template>

<script>
    export default {
        props: {
            error: {required: false},
            label: {type:String,required: true},
            required: {type:String,required: false},
            datakey: {type:String,required: false}
        },
        name: "form-group",
        mounted: function () {
            let self = this;



            Vue.nextTick(function(){
                $(self.$el).tooltip({ selector: '[data-tooltip=true]' });
            });
        }
    }
</script>

<style scoped>

</style>