<template>
    <input type="text" v-model="value[datakey].value" :placeholder="value[datakey].placeholder"  @input="updateValue()" />
</template>

<script>
    export default {
        name: "inputbox-model",
        props: {
            datakey:{type:String,required: true},
            value:{type:Object,required: true}
        },
        mounted: function () {
            let app = this;
            app.value[app.datakey].original = app.value[app.datakey].value;
        },
        methods: {
            updateValue: function(){
                // console.log(this.value);
                // this.$emit('value', this.value);
            }
        }
    }
</script>

<style scoped>
    input::placeholder {
        color: rgba(0,0,0,0.3);
    }
</style>