<template>
    <button class="btn btn-dark" @click="clicked">Avançar</button>
</template>

<script>
    export default {
        name: "next-tab",
        methods: {
            clicked: function () {
                let context = $(this.$el).closest("tab-container").get(0);
                $('.nav-tabs .active', context).closest('li').next('li').find('a').trigger('click');
            }
        }
    }
</script>

<style scoped>

</style>