<template>
    <button  class="btn btn-outline-dark"  @click="clicked">Voltar</button>
</template>

<script>
    export default {
        name: "prev-tab",
        methods: {
            clicked: function () {
                let context = $(this.$el).closest("tab-container").get(0);
                $('.nav-tabs .active', context).closest('li').prev('li').find('a').trigger('click');
            }
        }
    }
</script>

<style scoped>

</style>