<template>
    <div role="tabpanel" class="tab-pane" :class="{'active': active}" :id="name">
        <slot  name="content"></slot>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <slot name="buttons"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "tab",
        props: {
            position:{type:String,required: true},
            title:{type:String,required: true},
            active:{type:[Boolean,String],default:false},
            name:{type:String,required: true}
        },
        data: function(){
            return {
                dataList: [],
                errorText: ''
            };
        },
        computed: {
            error: function () {
                let app = this;
                let flag = false;

                app.errorText = 'Verifique os campos: ';
                for ( let j in app.dataList ){
                    if ( typeof  app.dataList[j].error !== "undefined"){
                        if ( app.dataList[j].error.length > 0 ){
                            app.errorText = app.errorText + '<br/>' + app.dataList[j].label;
                            flag = true;
                        }
                    }
                }
                return flag;
            }
        },
        mounted: function () {
            let app = this;
            this.$children.forEach(
                function (c, idx) {
                    app.dataList.push(c);
                });
        }
    }
</script>

<style scoped>

</style>