<template>
    <div class="tab-container">
        <div class="tab-navbar">
            <ul class="nav nav-tabs">
                <li role="presentation" class="nav-item" v-for="tab in tablist">
                    <a :href="'#'+tab.name"
                       :class="['nav-link',{'active':tab.active}]"
                       :aria-controls="tab.name"
                       role="tab" data-toggle="tab"
                    >{{tab.title}}
                        <span href="#" data-tooltip="true" data-html="true" data-container="body" data-placement="right"
                              v-if="tab.error"
                              :title="tab.errorText">
                        <i class="fa fa-exclamation-circle text-danger"></i>
                    </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <slot></slot>
        </div>
    </div>
</template>

<script>
  export default {
    name: "tabs",
    data: function () {
      return {
        tablist: []
      };
    },
    watch: {
      '$children' : function () {
        console.log('aqui');
      }
    },
    mounted: function () {
      let app = this;
      this.tablist = this.$children;

      Vue.nextTick(function () {
        $(app.$el).tooltip({selector: '[data-tooltip=true]'});
      });
    }
  }
</script>

<style scoped>
    .tab-navbar {
        background-color: rgba(154, 205, 50, 0.2);
        padding-top: 5px;
        padding-left: 5px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;

    }

    .closeButton {
        float: right;
        padding-top: 5px;
        padding-right: 10px;
    }

    .tab-content {
        color: #000000;
        background-color: #ffffff;
        padding: 5px 15px;
        margin-top: -1px;
        border: 1px solid #ddd;
    }

    a {
        color: #000000;
    }
</style>