<template>
    <div class="container-fluid">

        <div class="card mb-4 rounded shadow">
            <div class="card-body">
                <slot name="root"></slot>
                <h5 class="card-title">{{ title }}</h5>
                <div class="row">
                    <div class="col-md-12">
                        <slot name="content"></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "box-card",
        props: {
            title: {
                type: String,
                required: false
            }
        }
    }
</script>

<style scoped>

</style>