<template>
    <div></div>
</template>

<script>
    export default {
        name: "can-set-permission",
        props: ['permission'],
        mounted: function(){
            let app = this;
            Vue.canController.setData(app.permission);
        }
    }
</script>

<style scoped>

</style>