<template>
    <ul class="checkbox-group">
        <li class="checkbox" v-for="(item,index) in list">
            <div v-if="Object.keys(item.list).length > 0">
                <strong>{{ item.title }}</strong>
                <checkbox-group
                        :readonly="readonly"
                        :disabled="readonly"
                        :list="item.list"
                        v-model="value[index]"
                        v-on:input="updateValues()"></checkbox-group>
            </div>
            <div v-if="Object.keys(item.list).length == 0">
                <label><input
                        :readonly="readonly"
                        :disabled="readonly"
                        type="checkbox"
                        :value="item.id" v-model="value[index]" @input="updateValues()">{{ item.title }}</label>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "checkbox-group",
        props: {
            'list': {
                required: false
            },
            'value': {
                required: false
            },
            'readonly': {
                required: false,
                default: false
            }
        },
        mounted: function () {
        },
        methods: {
            updateValues: function () {
                this.$emit('input', this.value);
            }
        }
    }
</script>

<style scoped>
    ul {
        list-style-type: none;
    }
</style>