<template>
    <div>
        <div class="inner-addon right-addon">
            <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
            <input :readonly='readonly' type="text" :role="role" :name="name" :data-column="dataColumn" v-model="value" @input="editedData()" class="form-control">
        </div>
    </div>
</template>

<script>
    export default {
        name: "datepicker",
        props: ['name', 'value', 'dataColumn', 'readonly', 'role'],
        mounted(){
            let self = this;
            let readonly = false;
            if ( typeof self.readonly !== "undefined"){
                readonly =  self.readonly;
            }

            if ( ! readonly ){
                $('input', this.$el).datepicker({
                    onSelect: function(dateText) {
                        self.updateData(dateText);
                    }
                });
            }

        },
        methods:{
            updateData(data){
                this.$emit('input', data);
            },
            editedData(o){
                this.updateData(this.value);
            }
        }
    }
</script>

<style scoped>
    /* enable absolute positioning */
    .inner-addon {
        position: relative;
    }


    /* style icon */
    .inner-addon i {
        position: absolute;
        padding: 10px;
    }

    /* align icon */
    .left-addon .glyphicon, .left-addon i  { left:  0px;}
    .right-addon .glyphicon, .right-addon i { right: 0px;}

    /* add padding  */
    .left-addon input  { padding-left:  30px; }
    .right-addon input { padding-right: 30px; }
</style>