<template>
    <div class="dropdown">
        <button type="button" class="btn btn-outline-primary dt-button dropdown-toggle" data-toggle="dropdown" v-html="title">
        </button>
        <div class="dropdown-menu">
            <div v-for="(item,index) in list">
                <button class="dropdown-item"
                        @click="dropDownClick(parseInt(index)+parseInt(offset), $event)"
                        href="javascrit:void(0)">
                    <span class="switch switch-sm">
                        <input type="checkbox" class="switch"  :checked="checked[index]">
                        <label>{{ item.title }}</label>
                    </span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "dropdown-switch",
        props: {
            'title': {
                default: '<i class="fa fa-columns" aria-hidden="true"></i>',
                type: String
            },
            'list': {
                default: [],
                type: Object
            },
            'offset': {
                default: 0,
                type: Number
            }
        },
        data: function(){
            let app = this;
            let checked = {};

            for (let i in app.list ){
                checked[i] = true;
            }


            return {
                checked: checked
            }
        },
        methods: {
            dropDownClick: function(value, evt){
                let app = this;
                app.checked[parseInt(value)+parseInt(app.offset)]= !app.checked[parseInt(value)+parseInt(app.offset)];
                evt.stopPropagation();

                this.$emit('dropdownClicked', {
                    index: value,
                    value: app.checked[parseInt(value)+parseInt(app.offset)]
                });

            }
        }
    }
</script>

<style scoped>

</style>