<template>
    <div class="dropdown">
        <button type="button" :class="classButton + ' dropdown-toggle'" data-toggle="dropdown" v-html="title">
        </button>
        <div class="dropdown-menu">
            <div v-for="(item,index) in list">
                <button class="dropdown-item"
                   @click="dropDownClick(item, $event)"
                   href="javascrit:void(0)" v-html="item.title">
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "dropdown",
        props: {
            'title': {
                default: '<i class="fa fa-columns" aria-hidden="true"></i>',
                type: String
            },
            'list': {
                default: [],
                type: Object
            },
            'offset': {
                default: 0,
                type: Number
            },
            'classButton': {
                default: 'btn btn-outline-primary dt-button',
                type: String
            }
        },
        data: function(){
            let app = this;

            return {
            }
        },
        methods: {
            dropDownClick: function(value, evt){
                let app = this;
                evt.stopPropagation();

                this.$emit('dropdownClicked', value);

            }
        }
    }
</script>

<style scoped>
    .dropdown-item:hover {
        background-color: #191970;
        color: #ffffff;
        cursor: pointer;
    }
</style>