<template>
    <div class="row">
        <div class="col-md-5">
            <select name="from[]" v-bind:id="DomID" class="form-control" size="8" multiple="multiple">
                <option v-for="(item,index) in inputData" :key="index" :value="item[idField]">{{ item[descricaoField] }}</option>
            </select>
        </div>

        <div class="col-md-2">
            <button @click="updateValues()" type="button" id="multiselect_rightAll" class="btn btn-block"><i class="fa fa-angle-double-right"></i></button>
            <button @click="updateValues()" type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            <button @click="updateValues()" type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
            <button @click="updateValues()" type="button" id="multiselect_leftAll" class="btn btn-block"><i class="fa fa-angle-double-left"></i></button>
        </div>

        <div class="col-md-5">
            <select :value="value" :id="DomID + '_to' " @input="updateValues()" class="form-control" size="8" multiple="multiple"></select>
        </div>
    </div>
</template>

<script>
    export default {
        name: "duplo-select",
        props: [ 'inputData', 'descricaoField', 'idField', 'DomID', 'value' ],
        mounted: function(){
            let self = this;
            $(document).ready(function($) {
                $('#'+self.DomID).multiselect();
            });
        },
        methods: {
            updateValues: function(){
                let self = this;
                self.$emit('input', $(self.DomID + '_to'))
            }
        }
    }
</script>

<style scoped>

</style>