<template>
    <div>
        <loading-component :active="loading">
        </loading-component>

        <form ref="fileform" class="bg-secondary border border-dark rounded mb-4">

            <div class="drop-files">
                <div class="drop-files-container">
                    <div class="row">
                        <div class="col-md-12"><span>Arraste o arquivo!</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">Ou</div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button @click="dialogImport" type="button"  class="btn btn-outline-dark">
                                Carregar
                                <i class="fa fa-upload"  aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-stripe" v-show="files.length > 0">
            <thead class="thead-info">
            <tr>
                <th>Preview</th>
                <th>Nome</th>
                <th></th>
            </tr>
            </thead>
            <tr v-for="(file, key) in files">
                <td class="text-center">
                    <div v-if="imageDataTypes.indexOf(file.type) >= 0">
                        <img class="preview" v-bind:ref="'preview'+parseInt( key )"/>
                    </div>
                    <div v-if="imageDataTypes.indexOf(file.type) < 0">
                        <div class="preview" v-bind:ref="'preview'+parseInt( key )"/>
                    </div>
                </td>
                <td>{{ file.name }}</td>
                <td>
                    <div class="remove-container">
                        <a class="btn btn-danger remove text-white" v-on:click="removeFile( key )">Remover</a>
                    </div>
                </td>
            </tr>
        </table>
        <a class="btn btn-primary btn-block" v-on:click="submitFiles()" v-show="files.length > 0">Enviar</a>
    </div>
</template>

<script>
    export default {
        name: "fileupload",
        props: [ 'url', 'regex' ],
        data: function () {
            return {
                dragAndDropCapable: false,
                loading: false,
                files: [],
                uploadPercentage: 0,
                imageDataTypes: [
                ]
            }
        },
        mounted: function () {
            /*
              Determine if drag and drop functionality is capable in the browser
            */
            this.dragAndDropCapable = this.determineDragAndDropCapable();

            /*
              If drag and drop capable, then we continue to bind events to our elements.
            */
            if (this.dragAndDropCapable) {
                /*
                  Listen to all of the drag events and bind an event listener to each
                  for the fileform.
                */
                ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach(function (evt) {
                    /*
                      For each event add an event listener that prevents the default action
                      (opening the file in the browser) and stop the propagation of the event (so
                      no other elements open the file in the browser)
                    */
                    this.$refs.fileform.addEventListener(evt, function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                    }.bind(this), false);
                }.bind(this));

                /*
                  Add an event listener for drop to the form
                */
                this.$refs.fileform.addEventListener('drop', function (e) {
                    /*
                      Capture the files from the drop event and add them to our local files
                      array.
                    */
                    for (let i = 0; i < e.dataTransfer.files.length; i++) {
                        // this.files.push(e.dataTransfer.files[i]);
                        this.addFile(e.dataTransfer.files[i]);
                    }
                    this.getImagePreviews();
                }.bind(this));
            }
        },
        methods: {
            fileOnChange: function(e){
                let self = this;
                let input       = e.target || e.srcElement;
                input       = (typeof input === "undefined") ?  window.event.target || window.event.srcElement : input;
                for ( let j in input.files) {
                    if ( input.files[j].constructor.name === "File"){
                        self.addFile(input.files[j]);
                    }
                }
                this.getImagePreviews();
            },
            dialogImport: function(){
                let self = this;
                let file        = document.createElement("INPUT");
                file.setAttribute("type", "file");
                file.multiple = true;
                file.onchange = self.fileOnChange;
                $(file).css("display", "none");
                $(file).trigger('click');
            },
            /*
              Gets the image preview for the file.
            */
            getImagePreviews: function () {
                /*
                  Iterate over all of the files and generate an image preview for each one.
                */
                for (let i = 0; i < this.files.length; i++) {

                    /*
                      Ensure the file is an image file
                    */
                    if (/\.(jpe?g|png|gif)$/i.test(this.files[i].name)) {
                        if ( this.imageDataTypes.indexOf(this.files[i].type) == -1 ){
                            this.imageDataTypes.push(this.files[i].type);
                        }
                        /*
                          Create a new FileReader object
                        */
                        let reader = new FileReader();

                        /*
                          Add an event listener for when the file has been loaded
                          to update the src on the file preview.
                        */
                        reader.addEventListener("load", function () {
                            this.$refs['preview' + parseInt(i)][0].src = reader.result;
                        }.bind(this), false);

                        /*
                          Read the data for the file in through the reader. When it has
                          been loaded, we listen to the event propagated and set the image
                          src to what was loaded from the reader.
                        */
                        reader.readAsDataURL(this.files[i]);
                    } else {
                        /*
                          We do the next tick so the reference is bound and we can access it.
                        */
                        this.$nextTick(function () {
                            this.$refs['preview' + parseInt(i)][0].innerHTML = this.getFileTypeIcon(this.files[i].type);
                            // this.$refs['preview' + parseInt(i)][0].innerHTML = '<i class="fa fa-file-text-o fa-4x text-dark" aria-hidden="true"></i>';
                        });
                    }
                }
            },
            /*
              Submits the files to the server
            */
            submitFiles: function () {
                let self = this;

                self.loading = true;
                /*
                  Initialize the form data
                */
                let formData = new FormData();

                /*
                  Iteate over any file sent over appending the files
                  to the form data.
                */
                for (var i = 0; i < this.files.length; i++) {
                    let file = this.files[i];

                    formData.append('files[' + i + ']', file);
                }

                /*
                  Make the request to the POST /file-drag-drop URL
                */
                Vue.Request.post(self.url, formData,
                    function (resp) {
                        self.$emit('uploaded', resp);
                        self.loading = false;
                    },
                    function (resp) {
                        self.$emit('error', resp);
                        self.loading = false;
                    },
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                );
            },
            getFileTypeIcon: function(filetype){
                let content  = '';
                switch (filetype){
                    case 'application/pdf':
                        content = '<i class="fa fa-file-pdf-o fa-4x text-dark" aria-hidden="true"></i>';
                        break;
                    default:
                        content = '<i class="fa fa-file-text-o fa-4x text-dark" aria-hidden="true"></i>';
                }
                return content;
            },
            addFile: function (file) {
                if ( typeof this.regex !== "undefined"){
                    if ( this.regex.length > 0){
                        if (!(new RegExp(this.regex, 'i')).test(file.name) ){
                            Vue.Alert.error('Formato do arquivo é inválido');
                            return false;
                        }
                    }
                }
                this.files.push(file);
            },
            /*
              Removes a select file the user has uploaded
            */
            removeFile: function (key) {
                this.files.splice(key, 1);
            },
            /*
             Determines if the drag and drop functionality is in the
             window
            */
            determineDragAndDropCapable: function () {
                /*
                  Create a test element to see if certain events
                  are present that let us do drag and drop.
                */
                var div = document.createElement('div');

                /*
                  Check to see if the `draggable` event is in the element
                  or the `ondragstart` and `ondrop` events are in the element. If
                  they are, then we have what we need for dragging and dropping files.

                  We also check to see if the window has `FormData` and `FileReader` objects
                  present so we can do our AJAX uploading
                */
                return (('draggable' in div)
                    || ('ondragstart' in div && 'ondrop' in div))
                    && 'FormData' in window
                    && 'FileReader' in window;
            }
        }
    }
</script>

<style scoped>
    form {
        display: block;
        height: 200px;
        width: 100%;
        margin: auto;
        margin-top: 40px;
        text-align: center;
        border-radius: 4px;
    }

    .drop-files {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .drop-files-container {
        display: block;;
        width: 100%;
    }

    table {
        width: 100%;
    }

    div.file-listing {
        width: 400px;
        margin: auto;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    img {
        max-height: 100px;
        max-width: 100px;
    }

    .btn-carregar-container {
        clear: both;
    }
</style>