<template>
    <transition name="modal">
        <div class="loading-spinner" v-if="active">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "loading-spin",
        props: [ 'active' ],
        data: function(){
            return {
                texto: 'Carregando'
            };
        }
    }
</script>

<style scoped>
    .loading-spinner{
        position: absolute;
        z-index: 800;
        top: 0;
        left: 0;
        background: rgba(224,224,224,0.3);
        width: 100%;
        height: 100%;
        transition: opacity .9s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loading-spinner i, .loading-spinner .card{
        position: relative;
        font-size: 2vw;
    }

    .loading-spinner .card{
        width: 200px;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }
</style>