<template>
    <transition name="modal">
        <div class="loading-spinner" v-if="active">
            <!-- <i class="fa fa-spinner fa-pulse"></i>-->
            <div class="card rounded">
                <div class="card-body">
                    <div class="card-block">
                        <h5 class="card-title text-center">{{ texto }}</h5>
                        <div class="card-text">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "loading-component",
        props: {
            'active': {
                type: Boolean,
                required: true
            },
            'texto': {
                type: String,
                required: false,
                default: 'Carregando'
            }
        }
    }
</script>

<style scoped>
    .loading-spinner{
        position: absolute;
        z-index: 800;
        top: 0;
        left: 0;
        background: rgba(125,125,125,0.5);
        width: 100%;
        height: 100%;
        transition: opacity .9s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loading-spinner i, .loading-spinner .card{
        position: relative;
        font-size: 2vw;
    }

    .loading-spinner .card{
        width: 200px;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }
</style>