<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-container" v-bind:style="[modalStyle ? modalStyle : '' ]">
                <slot><!-- Content here --></slot>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "modal",
        props: ['modalStyle'],
        methods: {
            close: function() {
                this.$emit('close');
            }
        },
        mounted: function(){
            document.body.classList.add('modal-open');
        },
        destroyed: function(){
            document.body.classList.remove('modal-open');
        }
    }
</script>

<style>
    body.modal-open{
        overflow: hidden;
    }
</style>

<style scoped>

    * {
        box-sizing: border-box;
    }

    .modal-mask {
        position: fixed;
        z-index: 1030;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        transition: opacity .3s ease;
        overflow-y: scroll;
    }

    .modal-container {
        padding: 0px 0px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-style{
        width: 300px;
    }



    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .text-right {
        text-align: right;
    }

    .form-label {
        display: block;
        margin-bottom: 1em;
    }

    .form-label > .form-control {
        margin-top: 0.5em;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 0.5em 1em;
        line-height: 1.5;
        border: 1px solid #ddd;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>