<template>
    <div class="row">

        <div class="col-md-4">
            <span>Registros de {{ pagination.from }} até {{ pagination.to }}</span>
        </div>

        <div class="col-md-4">
            <span>Total de {{ pagination.total }} registros</span>
        </div>

        <div class="col-md-4">
            <nav aria-label="..." class="pull-right">
                <ul class="pagination pagination-sm">
                    <li :class="[{'disabled' : checkVar(pagination.current_page,1)}, 'page-item']">
                        <a class="page-link" href="javascript:void(0)" v-on:click.prevent="changePage(1)">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li :class="[{'disabled' : checkVar(pagination.current_page,1)}, 'page-item']">
                        <a class="page-link" href="javascript:void(0)"
                           v-on:click.prevent="changePage(pagination.current_page-1)">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    <li v-for="(page,index) in getArray" :key="index" :class="[{'active': checkVar(page,pagination.current_page) }, 'page-item']">
                        <a href="javascript:void(0)" class="page-link" v-on:click.prevent="changePage(page)">{{ page
                            }}</a>
                    </li>
                    <li :class="[{'disabled' : checkVar(pagination.current_page,pagination.last_page)}, 'page-item']"
                        class="page-item">
                        <a class="page-link" href="javascript:void(0)"
                           v-on:click.prevent="changePage(parseInt(pagination.current_page,10)+1)">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li :class="[{'disabled' : checkVar(pagination.current_page,pagination.last_page) }, 'page-item']"
                        class="page-item">
                        <a class="page-link" href="javascript:void(0)"
                           v-on:click.prevent="changePage(pagination.last_page)">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
    export default {
        name: "paginator",
        props: ['pagination'],
        data: function () {
            return {
                offset: 4
            };
        },
        computed: {
            getArray: function() {
                let pagesArray = [];
                let current_page = parseFloat(this.pagination.current_page);
                let offset = parseFloat(this.offset);
                let last_page = parseFloat(this.pagination.last_page);

                if ( typeof this.pagination.last_page === "undefined"){
                    return [];
                }

                let max = last_page < (current_page + offset) - 1 ? last_page : current_page + offset - 1;
                let min = (current_page - offset) + 1 < 1 ? 1 : current_page - offset + 1;


                for (let i = min; i <= max; i++) {
                    pagesArray.push(i);
                }

                return pagesArray;
            }
        },
        methods: {
            changePage: function(page) {
                this.$emit('changePage', page);
            },
            checkVar: function(val1, val2){
                return val1 == val2 && val2 != null;
            }
        }
    }
</script>

<style scoped>

</style>