<template>
    <button  class="btn btn-outline-dark"  @click="clicked">Limpar</button>
</template>

<script>
    export default {
        name: "restore-form",
        methods: {
            clicked: function () {
                this.$parent.$emit('RESTORE_FORM');
            }
        }
    }
</script>

<style scoped>

</style>