<template>
    <div class="row">
        <loading-spin :active="loading"></loading-spin>
        
        <div class="col-md-12 mb-4">
            <input type="text" v-model="searchTxt" class="form-control" placeholder="Busca..."/>
        </div>

        <div class="col-md-5">
            <select name="from[]" ref="comboleft" class="form-control" size="8" multiple="multiple">
                <option v-for="(data,index) in datasetUnselected" :disabled="data.descricao.toUpperCase().indexOf(searchTxt.toUpperCase()) == -1" :key="index" :value="data.id">{{ data.descricao }}</option>
            </select>
        </div>

        <div class="col-md-2">
            <button @click="rightAll()" type="button" id="multiselect_rightAll" class="btn btn-outline-primary btn-block"><i class="fa fa-angle-double-right"></i></button>
            <button @click="rightSelected()" type="button" id="multiselect_rightSelected" class="btn btn-outline-primary  btn-block"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            <button @click="leftSelected()" type="button" id="multiselect_leftSelected" class="btn  btn-outline-primary btn-block"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
            <button @click="leftAll()" type="button" id="multiselect_leftAll" class="btn  btn-outline-primary btn-block"><i class="fa fa-angle-double-left"></i></button>
        </div>

        <div class="col-md-5">
            <select ref="comboright" @input="updateValues" class="form-control" size="8" multiple="multiple">
                <option v-for="(data,index) in datasetSelected" :disabled="data.descricao.toUpperCase().indexOf(searchTxt.toUpperCase()) == -1" :key="index" :value="data.id">{{ data.descricao }}</option>
            </select>
        </div>
    </div>
</template>

<script>
    export default {
        name: "duplo-select-rest",
        props: [ 'url', 'descricaoField', 'idField', 'DomID', 'value'],
        data: function(){
            let self = this;
            return {
                searchTxt: '',
                comboleft: {},
                comboright: {},
                dataset: [],
                selected: self.value,
                loading: false
            }
        },
        watch: {
            url: function () {
                this.loadDataset();
            },
            value: function () {
                this.selected = this.value;
            }
        },
        mounted: function(){
            this.loadDataset();
        },
        computed: {
            datasetUnselected: {
                cache: false,
                get() {
                    let self = this;
                    let result = [];


                    for ( let j in self.dataset) {
                        if (  self.selected.findIndex(el => el == self.dataset[j][self.idField])  <  0) {
                            let descricao = '';
                            switch (typeof self.descricaoField){
                                case 'string':
                                    descricao = self.dataset[j][self.descricaoField];
                                    break;
                                case 'array':
                                case 'object':
                                    let aux = [];
                                    for ( let i in self.descricaoField ){
                                        aux.push(self.dataset[j][self.descricaoField[i]]);
                                    }
                                    descricao = aux.join(' - ');
                                    break;
                                default:
                                    descricao = self.dataset[j][self.descricaoField];
                                    break;
                            }
                            // if ( self.searchTxt.length > 0){
                            //     if ( descricao.toUpperCase().indexOf(self.searchTxt.toUpperCase()) < 0 ){
                            //         continue;
                            //     }
                            // }
                            result.push(
                                {
                                    id: self.dataset[j][self.idField],
                                    descricao: descricao
                                }
                            );
                        }
                    }

                    return result;
                }
            },
            datasetSelected: {
                cache: false,
                get() {
                    let self = this;
                    let result = [];

                    for (let j in self.dataset) {
                        if (  self.selected.findIndex(el => el == self.dataset[j][self.idField])  >=  0) {
                            let descricao = '';

                            switch (typeof self.descricaoField){
                                case 'string':
                                    descricao = self.dataset[j][self.descricaoField];
                                    break;
                                case 'array':
                                case 'object':
                                    let aux = [];
                                    for ( let i in self.descricaoField ){
                                        aux.push(self.dataset[j][self.descricaoField[i]]);
                                    }
                                    descricao = aux.join(' - ');
                                    break;
                                default:
                                    descricao = self.dataset[j][self.descricaoField];
                                    break;
                            }
                            result.push(
                                {
                                    id: self.dataset[j][self.idField],
                                    descricao: descricao
                                }
                            );
                        }
                    }

                    return result;
                }
            }
        },
        methods: {
            deselectAll: function(){

                for(let i = 0; i < this.$refs.comboleft.length; i++){
                    this.$refs.comboleft[i].selected = false;
                }

                for(let i = 0; i < this.$refs.comboright.length; i++){
                    this.$refs.comboright[i].selected = false;
                }
            },
            loadDataset: function(){
                let self = this;
                self.loading = true;
                axios.get(self.url)
                    .then(function (resp) {
                        if ( typeof resp.data.data !== "undefined"){
                            self.dataset = resp.data.data;
                        } else {
                            self.dataset = resp.data;
                        }
                        self.updateValues();
                        self.loading = false;
                    })
                    .catch(function (e) {
                        console.log(e);
                    });

            },
            rightSelected: function(){
                let self = this;

                let options = this.$refs.comboleft;
                let j = 0;

                for (let i=0, n=options.length;i<n;i++) { // looping over the options
                    if (options[i].selected == true) {
                        self.selected.push(options[i].value);
                    }
                }


                this.$emit('input', self.selected);
                this.deselectAll();
            },
            leftSelected: function(){
                let self = this;

                let options = this.$refs.comboright;

                for (let i=0, n=options.length;i<n;i++) { // looping over the options
                    if (options[i].selected && self.selected.findIndex(el => el == options[i].value) > -1) {
                        self.selected.splice(self.selected.findIndex(el => el == options[i].value), 1);
                    }
                }

                this.$emit('input', self.selected);
                this.deselectAll();
            },
            rightAll: function(){
                let self = this;

                self.selected = [];

                for ( let j in self.dataset) {
                    self.selected.push(
                        self.dataset[j][self.idField]
                    );
                }
                this.$emit('input', self.selected);
                this.deselectAll();
            },
            leftAll: function(){
                this.selected = [];

                this.$emit('input', this.selected);
                this.deselectAll();
            },
            updateValues: function(){
                let self = this;

       
                self.$emit('input', self.selected);
            }
        }
    }
</script>

<style scoped>
    select option:disabled {
        color: rgba(0,0,0,0.3);
    }
</style>