<template>
    <ul class="list-group">
        <li v-for="(data,index) in datasetSelected" class="list-group-item">
            {{ data.descricao }}
        </li>
    </ul>
</template>

<script>
    export default {
        name: "list-group-rest",
        props: [ 'url', 'idField','descricaoField', 'value'],
        data: function(){
            return {
                dataset: {}
            }
        },
        watch: {
            url: function () {
                this.loadDataset();
            }
        },
        mounted: function(){
            this.loadDataset();
        },
        computed: {
            datasetSelected: {
                cache: false,
                get() {
                    let app = this;
                    let result = [];

                    for (let j in app.dataset) {
                        if (  app.value.findIndex(el => el == app.dataset[j][app.idField])  >=  0) {
                            let descricao = '';

                            switch (typeof app.descricaoField){
                                case 'string':
                                    descricao = app.dataset[j][app.descricaoField];
                                    break;
                                case 'array':
                                case 'object':
                                    let aux = [];
                                    for ( let i in app.descricaoField ){
                                        aux.push(app.dataset[j][app.descricaoField[i]]);
                                    }
                                    descricao = aux.join(' - ');
                                    break;
                                default:
                                    descricao = app.dataset[j][app.descricaoField];
                                    break;
                            }
                            result.push(
                                {
                                    id: app.dataset[j][app.idField],
                                    descricao: descricao
                                }
                            );
                        }
                    }
                    return result;
                }
            }
        },
        methods: {
            loadDataset: function(){
                let app = this;
                axios.get(app.url)
                    .then(function (resp) {
                        if ( typeof resp.data.data !== "undefined"){
                            app.dataset = resp.data.data;
                        } else {
                            app.dataset = resp.data;
                        }
                    })
                    .catch(function (e) {
                        console.log(e);
                    });

            }
        }
    }
</script>

<style scoped>

</style>