<template>
    <div>
        
        <slot name="label">
            <label class="control-label">Campo</label>
        </slot>
        <div v-if="!readonly">
            <loading-spin :active="loading"></loading-spin>

            <select :data-column="dataColumn" :role="role" v-model="selected" @input="updateValues()" class="form-control">
                <option disabled value="" selected>Selecione</option>
                <option v-for="data in dataset" :value="data.id">
                    {{ data.descricao }}
                </option>
            </select>
        </div>
        <div v-if="readonly">
            <div v-for="data in dataset" :value="data.id">
                <input type="text" class="form-control"  readonly v-if="data.id == value" :value="data.descricao" />
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "select-rest",
        props: [ 'url', 'value', 'idField', 'descricaoField', 'readonly', 'role', 'dataColumn'],
        data: function(){
            let self = this;

            return {
                dataset: [],
                selected: self.value,
                loading: false
            };
        },
        watch: {
            value: function () {
                let self = this;
                self.selected = self.value;
            },
            url: function(){
                this.loadDataSet();
            }
        },
        mounted: function(){
            this.loadDataSet();
        },
        methods: {
            loadDataSet: function(){
                let self = this;
                self.loading = true;
                axios.get(self.url)
                    .then(function (resp) {

                        let dataset = resp.data.data;
                        self.dataset = [];
                        for ( let j in dataset){
                            self.dataset.push(
                                {
                                    id: dataset[j][self.idField],
                                    descricao: dataset[j][self.descricaoField]
                                }
                            );
                        }
                        self.loading = false;
                    })
                    .catch(function () {
                        console.log('Erro');
                    });

            },
            updateValues: function(){

                let self = this;

                Vue.nextTick(function(){
                    self.$emit('input', self.selected);
                });

            }
        }
    }
</script>

<style scoped>

</style>