<template>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th v-for="header, index in headers">
                    {{ header.text }}
                </th>
            </tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>

        <paginator>

        </paginator>
    </div>
</template>

<script>
    import Paginator from "../node_modules/components/paginator";

    export default {
        components: {Paginator},
        name: "datatable",
        props: [ 'headers' ]
    }
</script>

<style scoped>

</style>